@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
.wrapper {
  font-size: 30px;
  font-weight: 700;
  height: auto;
  padding: 20px 20px;
  text-align: right;
  text-decoration: none;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.navstyle{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.wrapper a {
  text-decoration: none;
  padding: 15px;
  color: #fff;
  font-weight: lighter;
}

.wrapper a:hover {
  color: blue;
}
