body{
  background-color: #3c2c3e;
}

.homebg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../Images/homebg.jpg");
  width: 100%;
  min-height: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
  position: absolute;
 background-attachment: fixed;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.search-field{
  height: 20px;
  padding: 5px;
  margin: 2px;
}
.skills{
  width: 400px;
}
.location{
  width: 400px;
}
.cate{
  height: 35px;
}
.search-btn
{
  height: 35px;
  width: 120px;
  background: #f44336;
  padding: 5px;
  margin: 2px;
  border: none;
  color: #fff;
  cursor: pointer;
}
.search-btn:hover
{
  background: #bb0d00;
}
.form1-box{
  background: rgba(255,255,255,0.5);
  padding: 20px 20px;
  width: 80vw;
}
.res {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10rem;
  padding: 0px;
  width: 90%;
  color: #fff;
}
.resl {
  width: 450px;
  height: 450px;
}
.res2 {
  display: flex;
  flex-wrap: wrap;
}



#search {
  width: 60%;
  padding: 20px, 20px;
  font-size: 30px;
  margin-top: 5rem;
  margin-left: 25rem;
}
#button {
  width: 100px;
  padding: 20px, 20px;
  font-size: 30px;
  margin-top: 5rem;
  background-color: green;
}

.pb{
  margin: 10px;
  padding: 10px;
  background-color: blueviolet;
  color: #fff;
  font-size: 2rem;
  border-radius: 10px;
  border: 0;
  outline: none;
}



